html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.container {
  min-width: $width__mobile;
  padding: 0 100% * 12 / 320;
}

.heading {
  font-family: $font__headings;
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  color: $color__dark;
  text-transform: uppercase;
  letter-spacing: 0.55px;
}

.descriptor {
  font-family: $font__main;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $color__light;
}

@media (min-width: $width__tablet) {
  .heading {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.79px;
  }

  .descriptor {
    font-size: 16px;
    line-height: 34px;
  }
}

@media (min-width: $width__notebook) {
  .container {
    padding: 0 100% * 27 / 1280;
  }
}

@media (min-width: $width__desktop) {
  .container {
    padding: 0 100% * 157 / 1920;
  }
}
