$width__mobile: 320px;
$width__tablet: 768px;
$width__notebook: 1280px;
$width__desktop: 1920px;

$font__main: "Ubuntu", "Arial", sans-serif;
$font__headings: "Playfair", "Arial", sans-serif;

$color__lightest: rgb(255, 255, 255);
$color__light: rgb(122, 122, 124);
$color__light--opacity: rgba(122, 122, 124, 0.2);
$color__dark: rgb(35, 34, 33);
