$width__mobile: 320px;
$width__tablet: 768px;
$width__notebook: 1280px;
$width__desktop: 1920px;

$font__main: "Ubuntu", "Arial", sans-serif;
$font__headings: "Playfair", "Arial", sans-serif;

$font-color__link: rgb(122, 122, 124);
$font-color__link--passive: rgb(35, 34, 33);
